<h1>Fixed Rate Loan Cash Flow Generator</h1>

<form (ngSubmit)="onSubmit(loanForm)" class="navbar-form navbar-left" #loanForm="ngForm">
    <div class="form-group">
        <input type="text" name="loanAmount" placeholder="Loan Amount" class="form-control" ngModel required>
    </div>
    <div class="form-group">
        <input type="text" name="term" placeholder="Term" class="form-control" ngModel required>
    </div>
    <div class="form-group">
        <input type="text" name="interest" placeholder="Interest Rate" class="form-control" ngModel required>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>

<br><br>

<div *ngFor="let cashFlow of cashFlows; let i = index">
    <h1>Loan {{i + 1}}</h1>
    <table class='table'>
        <thead>
            <tr>
                <th>Month</th>
                <th>Interest</th>
                <th>Principal</th>
                <th>Remaining Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cashFlow of cashFlows[i];">
                <td>{{ cashFlow.month }}</td>
                <td>{{ cashFlow.interest | currency:'USD':true }}</td>
                <td>{{ cashFlow.principal | currency:'USD':true }}</td>
                <td>{{ cashFlow.remainingBalance | currency:'USD':true }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="poolLevel.length > 0">
    <h1>Pool Level</h1>
    <table class='table'>
        <thead>
            <tr>
                <th>Month</th>
                <th>Interest</th>
                <th>Principal</th>
                <th>Remaining Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cashFlow of poolLevel;">
                <td>{{ cashFlow.month }}</td>
                <td>{{ cashFlow.interest | currency:'USD':true }}</td>
                <td>{{ cashFlow.principal | currency:'USD':true }}</td>
                <td>{{ cashFlow.remainingBalance | currency:'USD':true }}</td>
            </tr>
        </tbody>
    </table>
</div>